@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/typography' as *;

.RecentCheckins {
  padding: 1rem;

  &__title {
    font-size: $mobile-big-size;
    line-height: $mobile-big-lh;
    font-weight: $mobile-big-weight-light;
    color: $secondary;
  }

  &__description {
    font-size: $mobile-small-size;
    line-height: $mobile-small-lh;
    font-weight: $mobile-small-weight-light;
    color: $gray;
    margin-top: 0.25rem;
  }

  &__card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 1px solid $bg-light;
    padding: 1rem 0;
    text-decoration: none;
  }

  &__card-border {
    border-left: 3px solid $gray-medium;

    &:hover {
      border-left: 3px solid $primary;
    }
  }

  &__card-name {
    font-size: $mobile-medium-size;
    line-height: $mobile-medium-lh;
    font-weight: $mobile-medium-weight-light;
    color: $secondary;
    margin-left: 0.5rem;
  }

  &__card-address {
    font-size: $mobile-small-size;
    line-height: $mobile-small-lh;
    font-weight: $mobile-small-weight-light;
    color: $secondary;
    margin-left: 0.5rem;
  }
}
