@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/typography' as *;

.LogInForm {
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  &__bg {
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  &__logo-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 0;
    margin: 2rem 1.5rem;
  }

  &__navigate-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__navigate {
    width: 2rem;
  }

  &__navigate-text {
    color: $white;
    margin-left: 0.25rem;
  }

  &__text-container {
    width: 100%;
    margin-top: 2rem;
  }

  &__title {
    color: $white;
    font-size: 3.25rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
  }

  &__text {
    color: $white;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 1rem;
  }

  &__sheet {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    background-color: $white;
    box-shadow: -2px -10px 8px 1px rgb(0 0 0 / 0.2);
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 2rem;

    &--expand {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 80%;
      background-color: $white;
      box-shadow: -2px -10px 8px 1px rgb(0 0 0 / 0.2);
      border-radius: 1.5rem 1.5rem 0 0;
      padding: 2rem;
      transition: all 0.25s ease-in-out;
    }
  }

  &__section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0;
  }

  &__icon-container {
    display: flex;
    align-items: top;
  }

  &__icon {
    height: 1.5rem;
    margin-right: 0.5rem;
  }

  &__label {
    width: 100%;
    margin-bottom: 1rem;
    color: $secondary;
  }

  &__input {
    width: 100%;
    height: 3rem;
    border: none;
    border-bottom: 2px solid $gray-medium;
    padding: 0;
    outline: none;

    &:focus {
      border-bottom: 2px solid $secondary;
    }
  }

  &__switch {
    cursor: pointer;
    margin-top: 2rem;
    color: $tertiary;
  }
}
