@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/typography' as *;

.NavBack {
  width: 100%;
  padding: 0 1rem;
  z-index: 1;

  &__logo-container {
    background-color: $secondary;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 15px;
    margin-right: auto;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10rem;
    box-shadow: 2px 1px 5px 0 rgb(0 0 0 / 0.15);
  }

  &__back-icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  &__profile-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    width: 50%;
  }
}
