@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/typography' as *;

.BrowseList {
  margin: 4.5rem 0;
  padding: 1rem;
  &__text-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  &__icon {
    height: 1.25rem;
    margin-right: 0.5rem;
  }

  &__title {
    font-size: $mobile-big-size;
    line-height: $mobile-big-lh;
    font-weight: $mobile-big-weight-light;
    color: $secondary;
  }

  &__list-link {
    text-decoration: none;
  }

  &__link {
    display: flex;
    justify-content: center;
    margin: 2rem auto 4rem auto;
  }

  &__link-text {
    font-size: $mobile-medium-size;
    line-height: $mobile-medium-lh;
    font-weight: $mobile-medium-weight-heavy;
    color: $secondary;
  }
}
