@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/typography' as *;

.LocationDetails {
  overflow-x: hidden;
  &__hero {
    height: 15rem;
    width: 100%;
  }

  &__hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__info {
    width: 100%;
    padding: 1.5rem 1rem 0.5rem 1rem;
    border-bottom: 1px solid $bg-light;
  }

  &__location {
    width: 100%;
  }

  &__text-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
  }

  &__icon-container {
    display: flex;
    align-items: center;
  }

  &__icon {
    height: 1.25rem;
    margin-right: 0.5rem;
  }

  &__title,
  &__attendance-title,
  &__about-title {
    font-size: $mobile-medium-size;
    line-height: $mobile-medium-lh;
    font-weight: $mobile-medium-weight-light;
    color: $gray;
  }

  &__info-title {
    font-size: $mobile-xl-size;
    line-height: $mobile-xl-lh;
    font-weight: $mobile-xl-weight;
    color: $secondary;
    width: 100%;
    margin: 0.5rem 0 0.25rem 0;
  }

  &__address {
    font-size: $mobile-big-size;
    line-height: $mobile-big-lh;
    font-weight: $mobile-big-weight-light;
    color: $secondary;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  &__category-container {
    display: flex;
    margin-bottom: 1rem;
  }

  &__category-label {
    border-radius: 0.25rem;
    height: 1.5rem;
    width: 6.5rem;
    background-color: $tertiary;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0 0.75rem;
    margin-right: 0.5rem;

    &--alt {
      border-radius: 0.25rem;
      height: 1.5rem;
      width: 6.5rem;
      background-color: #6a8037;
      display: flex;
      text-align: center;
      align-items: center;
      padding: 0 0.75rem;
      margin-right: 0.5rem;
    }
  }

  &__category-tag {
    height: 0.75rem;
  }

  &__category-text {
    font-size: $mobile-small-size;
    line-height: $mobile-small-lh;
    font-weight: $mobile-small-weight-light;
    color: $white;
    text-transform: uppercase;
    margin: auto;
  }

  &__button-wrapper {
    height: 3.375rem;
    width: 100%;
    margin-top: 1.5rem;
  }

  &___button {
    cursor: pointer;
  }

  &__attendance {
    padding: 1.5rem 1rem 0 1rem;
    border-bottom: 1px solid $bg-light;
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 0 1rem 0;
  }

  &__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
  }

  &__avatar {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 2rem;
    margin: 0.75rem;
    box-shadow: 2px 1px 5px 0 rgb(0 0 0 / 0.08);

    &:hover {
      transition: all 0.2s ease-in-out;
      transform: scale(1.02);
      box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 0.2);
    }
  }

  &__dog-name {
    font-size: $mobile-small-size;
    line-height: $mobile-small-lh;
    font-weight: $mobile-small-weight-light;
    color: $secondary;
    margin-bottom: 0.25rem;
  }

  &__about {
    padding: 1.5rem 1rem;
    border-bottom: 1px solid $bg-light;
  }

  &__about-text {
    font-size: $mobile-medium-size;
    line-height: $mobile-big-lh;
    font-weight: $mobile-medium-weight-light;
    margin-top: 1rem;
  }

  &__map {
    padding: 1.5rem 1rem;
  }

  &__map-container {
    z-index: 0;
    height: 30vh;
    margin-top: 1rem;
    border-radius: 1rem;
    margin-bottom: 6rem;
  }
}
