@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/typography' as *;

.CreateDogForm {
  padding: 2rem;

  &__title {
    font-size: $mobile-big-size;
    line-height: $mobile-big-lh;
    font-weight: $mobile-big-weight-light;
    color: $secondary;
  }

  &__description {
    color: $gray;
    font-size: $mobile-small-size;
    line-height: $mobile-small-lh;
    font-weight: $mobile-small-weight-light;
  }

  &__animation-container {
    display: flex;
    justify-content: center;
  }

  &__lottie {
    width: 65%;
    height: 40vh;
  }

  &__section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0;
  }

  &__label {
    width: 100%;
    margin-bottom: 1rem;
    color: $secondary;
    font-size: $mobile-medium-size;
    line-height: $mobile-medium-lh;
    font-weight: $mobile-medium-weight-heavy;
  }

  &__input {
    width: 100%;
    height: 3rem;
    border: none;
    border-bottom: 2px solid $gray-medium;
    padding: 0;
    outline: none;

    &:focus {
      border-bottom: 2px solid $secondary;
    }
  }

  &__input-textarea {
    width: 100%;
    height: 6rem;
    resize: none;
    border: none;
    border-bottom: 2px solid $gray-medium;
    padding: 0;
    outline: none;

    &:focus {
      border-bottom: 2px solid $secondary;
    }
  }

  &__switch {
    cursor: pointer;
    margin-top: 2rem;
    color: $tertiary;
  }
}
