@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/typography' as *;

.LocationCard {
  height: 5rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  border-radius: 0.625rem;
  box-shadow: 2px 1px 5px 0 rgb(0 0 0 / 0.08);
  margin: 0.25rem 0 1rem 0;
  cursor: pointer;

  &__image {
    height: 3.75rem;
    width: 4.375rem;
    border-radius: 0.3125rem;
  }

  &__container {
    width: 70%;
    margin: 0 0 0 0.5rem;
  }

  &__title {
    color: $secondary;
    font-size: $mobile-medium-size;
    line-height: $mobile-medium-lh;
    font-weight: $mobile-medium-weight-heavy;
  }

  &__text {
    color: $secondary;
    font-size: $mobile-medium-size;
    line-height: $mobile-medium-lh;
    font-weight: $mobile-medium-weight-light;
  }

  &__gallery {
    display: flex;
    align-items: center;
    margin-top: 0.25rem;
  }

  &__avatar {
    height: 1.25rem;
    width: 1.25rem;
    object-fit: cover;
    border-radius: 1.25rem;
    margin-right: 0.25rem;
  }

  &__remaining-dogs {
    color: $secondary;
    font-size: $mobile-small-size;
    line-height: $mobile-small-lh;
    font-weight: $mobile-small-weight-light;
  }

  &__chevron {
    width: 1rem;
    margin-left: auto;
  }
}
