@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/typography' as *;

.FeaturedCard {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__title {
    font-size: $mobile-big-size;
    line-height: $mobile-big-lh;
    font-weight: $mobile-big-weight-light;
    color: $secondary;
    width: 100%;
    padding: 0 1rem;
  }

  &__description {
    font-size: $mobile-small-size;
    line-height: $mobile-small-lh;
    font-weight: $mobile-small-weight-light;
    color: $gray;
    width: 100%;
    margin: 0.25rem 0 1rem 0;
    padding: 0 1rem;
  }

  &__gallery {
    padding-inline: 1rem 0;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 15rem;
    margin-right: 1rem;
  }

  &__card {
    height: 10rem;
    width: 15rem;
    background-color: #ffe600ee;
    border-radius: 0.625rem;
    margin-bottom: 0.25rem;
    cursor: pointer;

    &:hover {
      transition: all 0.2s ease-in-out;
      transform: scale(1.02);
      opacity: 94%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
  }

  &__text-container {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
  }

  &__card-title {
    font-size: $mobile-medium-size;
    line-height: $mobile-medium-lh;
    font-weight: $mobile-medium-weight-heavy;
    color: $secondary;
  }

  &__icon {
    width: 1.15rem;
    height: 1.15rem;
    margin-left: 0.25rem;
  }

  &__card-text {
    font-size: $mobile-small-size;
    line-height: $mobile-small-lh;
    font-weight: $mobile-small-weight-light;
    color: $secondary;
    margin-top: 0.15rem;
  }
}
