@use 'styles/partials/colors' as *;
@use 'styles/partials/breakpoints' as *;
@use 'styles/partials/typography' as *;

* {
  box-sizing: border-box;
  font-family: $site-font-family;
  ::selection {
    background: $primary;
    color: $secondary;
  }
  ::-moz-selection {
    background: $primary;
    color: $secondary;
  }
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  ::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

body {
  margin: 0;
}

a {
  font-size: $mobile-medium-size;
  line-height: $mobile-medium-lh;
  font-weight: $mobile-medium-weight-light;
}

h1,
h2,
h3,
p,
span {
  margin: 0;
  padding: 0;
}

button {
  font-size: $mobile-big-size;
  line-height: $mobile-big-lh;
  font-weight: $mobile-big-weight-heavy;
  text-transform: uppercase;
  color: $secondary;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.5rem;
  background-image: linear-gradient(to right, $primary, #ffe600);
  border: none;
  box-shadow: 2px 1px 5px rgb(0 0 0 / 0.08);
  cursor: pointer;
  &:hover {
    background-image: none;
    background-color: $secondary;
    color: $white;
    transition: all 0.25s ease-in-out;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
