@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/typography' as *;

.BottomNav {
  height: 3.125rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $white;
  border-top: 1px solid $gray-light;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  box-shadow: 2px 1px 5px 0 rgb(0 0 0 / 0.05);

  &:hover {
    border-top: none;
    margin-bottom: -1px;
    box-shadow: none;
  }

  &__left {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    align-items: center;
    cursor: pointer;

    &:hover {
      border-top: 4px solid $secondary;
      margin-bottom: 4px;
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    align-items: center;
    cursor: pointer;

    &:hover {
      border-top: 4px solid $secondary;
      margin-bottom: 4px;
    }
  }

  &__home-icon {
    height: 2rem;
    width: auto;
  }

  &__profile-icon {
    height: 2rem;
    width: auto;
  }
}
