@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/typography' as *;

.NearbyList {
  margin-top: 4.375rem;
  padding: 1rem 0;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow-x: hidden;
  ::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  &__text-container {
    width: 100%;
    display: flex;
    margin: 1rem;
  }

  &__icon {
    height: 1rem;
    margin-right: 0.25rem;
  }

  &__title {
    font-size: $mobile-medium-size;
    line-height: $mobile-medium-lh;
    font-weight: $mobile-medium-weight-heavy;
    color: $secondary-dark;
    text-transform: uppercase;
  }

  &__gallery {
    padding-inline: 1rem 0;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
