@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/typography' as *;

.NearbyList {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0 1rem 1rem;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  ::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  &__text-container {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: $mobile-medium-size;
    line-height: $mobile-medium-lh;
    font-weight: $mobile-medium-weight-heavy;
    color: $secondary-dark;
    text-transform: uppercase;
  }

  &__gallery {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
