@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/typography' as *;

.NearbyList {
  overflow-x: hidden;
  background-color: $white;
  margin-top: 5.375rem;
  padding-bottom: 1rem;

  &__title {
    font-size: $mobile-big-size;
    line-height: $mobile-big-lh;
    font-weight: $mobile-big-weight-light;
    color: $secondary;
    margin: 0 1rem;
  }

  &__description {
    color: $gray;
    font-size: $mobile-small-size;
    line-height: $mobile-small-lh;
    font-weight: $mobile-small-weight-light;
    margin: 0.25rem 1rem 0.75rem 1rem;
  }

  &__gallery {
    padding-inline: 1rem 0;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
