@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/typography' as *;

.ActionButton {
  cursor: pointer;

  &__secondary {
    background-image: none;
    background-color: $white;
    border: 2px solid $secondary;

    &:hover {
      background-color: $secondary;
    }
  }
}
