@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/typography' as *;

.Nav {
  background-color: $white;
  height: 4.375rem;
  width: 100%;
  box-shadow: 2px 1px 5px 0 rgb(0 0 0 / 0.05);
  display: flex;
  padding: 0.75rem 1rem;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1;

  &__logo-container {
    display: flex;
    align-items: center;
  }

  &__logo {
    height: 2.5rem;
  }

  &__logo-text {
    height: 1.25rem;
  }

  &__button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
  }
}
