@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/typography' as *;

.Loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__lottie {
    height: 15rem;
    width: 15rem;
  }
}
