$site-font-family: 'Poppins', 'Geneva', 'Verdana', 'sans-serif';

$mobile-big-size: 1rem;
$mobile-big-lh: 1.25rem;
$mobile-big-weight: 600;

$mobile-medium-size: 0.8125rem;
$mobile-medium-lh: 1rem;
$mobile-medium-weight-heavy: 500;
$mobile-medium-weight-light: 400;

$mobile-small-size: 0.625rem;
$mobile-small-lh: 1rem;
$mobile-small-weight-heavy: 500;
$mobile-small-weight-light: 400;
