@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/typography' as *;

.LocationCardXL {
  cursor: pointer;
  :hover {
    transition: all .2s ease-in-out;
    transform: scale(1.01);
    opacity: 100%;
    filter: contrast(105%)
  }
  &__card {
    height: 9.375rem;
    margin-right: 0.5rem;
    position: relative;
    box-shadow: 2px 1px 5px 0 rgb(0 0 0 / 0.15);
    border-radius: 0.625rem;
  }

  &__gradient {
    opacity: 85%;
    &::after {
      display: block;
      position: relative;
      background-image: linear-gradient($black, $black);
      opacity: 30%;
      margin-top: -156px;
      height: 9.375rem;
      width: 100%;
      content: '';
      border-radius: 0.625rem;
    }
  }

  &__image {
    height: 9.375rem;
    width: 11.7rem;
    border-radius: 0.625rem;
  }

  &__title {
    width: 11rem;
    color: $white;
    font-size: $mobile-big-size;
    line-height: $mobile-big-lh;
    font-weight: $mobile-big-weight;
    position: absolute;
    bottom: 3.25rem;
    left: 0.625rem;
    pointer-events: none;
  }

  &__text {
    width: 11.7rem;
    color: $white;
    font-size: $mobile-small-size;
    line-height: $mobile-small-lh;
    font-weight: $mobile-small-weight-light;
    position: absolute;
    bottom: 2.25rem;
    left: 0.625rem;
    pointer-events: none;
  }

  &__gallery {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0.625rem;
    left: 0.625rem;
    pointer-events: none;
  }

  &__avatar {
    height: 1.25rem;
    width: 1.25rem;
    object-fit: cover;
    border-radius: 1.25rem;
    margin-right: 0.3125rem;
  }

  &__remaining-dogs {
    color: $white;
    font-size: $mobile-small-size;
    line-height: $mobile-small-lh;
    font-weight: $mobile-small-weight-light;
  }
}
